@import "ember-bootstrap/bootstrap";

$chat-height: calc(100vh - 56px);
$red-color: #ff2800;

@mixin message_icon_format {
  height: 28px;
  width: 28px;
  border-radius: 50%;

  &:hover {
    background-color: rgb(90, 135, 212);
  }
}


// Header
.header {
  .current_time {
    color: white;
  }

  .notification_icon {
    padding-left: 30px;
    padding-right: 60px;

    img {
      margin-top: 10px;
      height: 20px;
    }

    .notification_count {
      position: absolute;
      margin-top: -26px;
      margin-left: 25px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: cornflowerblue;

      p {
        color: white;
        text-align: center;
        margin-top: 3px;
      }
    }
  }
}


// USERS
.chat-users {
  height: $chat-height;
  border-right: 1px solid darkgrey;
  overflow: auto;

  .chat-user-row {
    height: 50px;
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;

    .login_time {
      font-size: 12px;
      font-family: Courier, serif;
      padding-right: 10px;
    }

    &:hover {
      background-color: lightgrey;
    }

    .status {
      margin-top: 9px;
      float: right;
      width: 10px;
      height: 10px;
      border: 1px solid green;
      border-radius: 50%;

      &.is-active {
        background-color: green;
      }
    }
  }
}


// MESSAGES
.chat-messages {
  height: $chat-height;
  border-right: 1px solid darkgrey;
  overflow: auto;
  position: relative;

  .messages-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: auto;
    position: absolute;
    padding: 20px;

    .user-message {
      max-width: 40%;
      padding: 15px 10px 10px 10px;
      background-color: cornflowerblue;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;

      &.self {
        background-color: white;
        border: 1px solid darkgrey;
        margin-left: auto;
        color: black;
        padding: 10px;

        img {
          float: right;
          margin-left: -12px;
          margin-top: -15px;
          height: 12px;
        }

        input {
          outline: none;
          width: 100%;
        }

        .edit_cancel_buttons {
          display: grid;
          grid-template-columns: calc(100% - 85px) 85px;

          .cancel_button {
            button {
              margin-top: 5px;
              width: 80px;
              height: 30px;
              margin-left: calc(100% - 60px);

              p {
                margin-top: -4px;
              }
            }
          }

          .edit_button {
            button {
              margin-top: 5px;
              width: 60px;
              height: 30px;
              margin-left: calc(100% - 60px);

              p {
                margin-top: -4px;
              }
            }
          }
        }

        &:hover {
          background-color: rgb(230, 230, 230);
          cursor: pointer;
        }
      }

      &:hover {
        cursor: pointer;
      }

      .username {
        position: absolute;
        top: 3px;
        height: 5px;
        font-size: 10px;
      }

      .new_message_mark {
        position: absolute;
        left: calc(100% - 75px);
        top: 3px;
        height: 5px;
        font-size: 10px;
      }

      .message_content {
        padding-bottom: 13px;
      }

      .date_and_time {
        font-size: 12px;
        text-align: right;
        font-family: Courier, serif;
        margin-bottom: -7px;
      }

      .side_box_actions {
        display: flex;
        position: absolute;
        cursor: pointer;
        margin-top: -22px;
        margin-left: 10px;

        .likes_count p {
          margin-top: 4px;
          font-family: Courier, serif;
        }

        .like_button {
          @include message_icon_format;
          margin-left: 3px;

          img {
            margin-left: 6px;
            height: 18px;
          }
        }

        .reply_button {
          @include message_icon_format;
          margin-left: 10px;

          img {
            margin-left: 3px;
            height: 18px;
          }
        }
      }
    }
  }

  .chat-message-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    border-top: 1px solid darkgrey;
    display: flex;
    align-items: center;
    padding: 0 10px;

    form {
      display: flex;
      width: 100%;
    }

    input {
      margin-right: 10px;
    }
  }
}


// OTHER
.not_found_page {
  font-size: 33px;
  color: $red-color;
  text-align: center;
  padding-top: 25px;
}
