@import "ember-bootstrap/bootstrap";

$chat-height: calc(100vh - 56px);

.chat-users {
  height: $chat-height;
  border-right: 1px solid darkgrey;
  overflow: auto;

  .chat-user-row {
    height: 50px;
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;

    &:hover {
      background-color: lightgrey;
    }

    .status {
      width: 10px;
      height: 10px;
      border: 1px solid green;
      border-radius: 50%;

      &.is-active {
        background-color: green;
      }
    }
  }
}

.chat-messages {
  height: $chat-height;
  border-right: 1px solid darkgrey;
  overflow: auto;
  position: relative;

  .messages-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: auto;
    position: absolute;
    padding: 20px;

    .user-message {
      max-width: 30%;
      padding: 15px 10px 10px 10px;
      background-color: cornflowerblue;
      color: white;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;

      &.self {
        background-color: white;
        border: 1px solid darkgrey;
        margin-left: auto;
        color: black;
        padding: 10px;
      }

      .username {
        position: absolute;
        top: 3px;
        height: 5px;
        font-size: 10px;
      }
    }
  }

  .chat-message-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    border-top: 1px solid darkgrey;
    display: flex;
    align-items: center;
    padding: 0 10px;

    input {
      margin-right: 10px;
    }
  }
}
