<div class="col-9 chat-messages">

  <div class="messages-content">
    <div class="user-message">
      <div class="username">username</div>
      User message here
    </div>

    <div class="user-message self">
      Self message here
    </div>
  </div>

  <Chat::MessageBox />
</div>
{{yield}}