<div class="chat-message-box">
  <form {{on 'submit' this.sendMessage}}>
    <Input id="message_box_input" type="text" class="form-control" @value={{this.message}} {{on "click" this.resetNotificationCount}} />
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

{{yield}}